.container-fluidvideo {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .CARD2 {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 200px !important;

  }
  .VIDEO {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .card-aerei{ 
    color: red;
  }
.card-text {
  color: chocolate;
}

.card-body {
  background-color:#212529 ;
}
.card-title {
  color: white;
}
.card-title1 {
  color: white;
}

.card-img-top {
  justify-content: right;
}
.hr1 {
  height: 30px;
  background-color: rgb(255, 106, 0);
}
.img1 {
  width: 50%; /* Larghezza dell'immagine */
  height: auto; /* Altezza automatica per mantenere le proporzioni */
}
.img2 {
  width: 45%; /* Larghezza dell'immagine */
  height: auto; /* Altezza automatica per mantenere le proporzioni */
}

/* Stile per il div */
.testo {
  padding: 10px; /* Spaziatura interna del div */
}

/* Stile per il contenitore span */
.span1 {
  display: flex; /* Imposta il modello di layout flessibile per il contenitore span */
}
.of1 {
  background-color: #212529;
}
.of2 {
  background-color: #ffffff;
}
.hr2 {
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-color: #ffffff;
}
.FinePagina {
  background-color: #212529;
}
.LogoFinePagina {
  width: 50px; /* Larghezza dell'immagine */
  height: 50px; /* Altezza automatica per mantenere le proporzioni */
}
